{{ define "main" }}
  <div class="post-list">
    {{ $paginator := .Paginate (where site.RegularPages "Type" "in" site.Params.mainSections) }}
    {{ range $index, $page := $paginator.Pages }}
    <article class="post-entry">
      <a href="{{ $page.RelPermalink }}" class="entry-card">
    
        {{ with $page.Params.cover.image }}
          <div class="featured-image-wrapper">
            <img src="{{ . }}" alt="{{ $page.Title }}" class="featured-image" />
            {{ with $page.Params.categories }}
              <div class="category-badge">{{ index . 0 }}</div>
            {{ end }}
          </div>
        {{ end }}
    
        <div class="entry-text">
          <header class="entry-header">
            <h2>{{ $page.Title }}</h2>
            <p class="post-date">{{ $page.Date.Format "2006-01-02" }}</p>
          </header>
    
          <div class="entry-content">
            <p>{{ $page.Summary | plainify }}{{ if $page.Truncated }}…{{ end }}</p>
          </div>
        </div>
    
      </a>
    </article>
    {{ end }}
  </div>

  {{ if gt $paginator.TotalPages 1 }}
    <footer class="page-footer">
      {{ template "_internal/pagination.html" . }}
    </footer>
  {{ end }}
{{ end }}
